.container {
	text-align: center;
}

#rail img {
	max-width: 800px;
	object-fit: cover;
}

#slideshow {
	width: 800px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

#previous, #next, #play {
	background-color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 40px;
	font-weight: 100;
	opacity: .4;
	text-align: center;
}

#previous:focus, 
#next:focus, 
#play:focus {
	outline: 0;
}

#previous {
	left: 0;
	width: 8%;
}

#next {
	right: 0;
	width: 8%;
}

#previous:hover, 
#next:hover,
#play:hover {
	opacity: .6;
	transition-duration: .2s;
}

#play {
	width: 20%;
	background: transparent;
	left: 40%;
	line-height: 500px;
	opacity: 0;
	border-radius: 50%;
}

