.container {
	text-align: center;
}

#rail {
	height: auto;
}

#rail img {
	width: 800px;
	height: 530px;
	object-fit: cover;
}

#slideshow {
	max-width: 800px;
	overflow: hidden;
	object-fit: cover;
	height: 530px;
	margin: 0 auto;
	position: relative;
}

#previous, #next, #play {
	background-color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 40px;
	font-weight: 100;
	opacity: .4;
	text-align: center;
}

#previous:focus, 
#next:focus, 
#play:focus {
	outline: 0;
}

#previous {
	left: 0;
	width: 8%;
}

#next {
	right: 0;
	width: 8%;
}

#previous:hover, 
#next:hover,
#play:hover {
	opacity: .6;
	transition-duration: .2s;
}

#play {
	width: 20%;
	height: 100px;
	top: 40%;
	background: transparent;
	left: 40%;
	opacity: 0;
	border-radius: 50%;
}

.title, .desc {
    position: relative;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 900;
}

.desc {
	font-size: 26px;
	font-weight: 100;
}

.navigator {
	position: relative;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	color: #eee;
	top: 20px;
}

.navigator i {
	margin-right: 10px;
	cursor: pointer;
	font-size: 16px;
	text-shadow: 0px 1px 10px rgb(50,50,50);
}

.navigator i:hover {
	text-shadow: 0px 1px 10px rgb(25,25,25);
}

.navigator i:last-child {
	margin-right: 0px;
}

/* RESPONSIVE */

@media screen and (max-device-width: 800px) {

	.navigator {
		top: 100px;
	}

	.navigator i {
		font-size: 60px;
		margin: 0 25px;
	}

	.title, .desc {
		font-size: 26px;
	}

}
@media screen and (max-width: 800px) {

	.navigator {
		top: 100px;
	}

	.navigator i {
		font-size: 60px;
		margin: 0 25px;
	}

	.title, .desc {
		font-size: 26px;
	}

}
